<script>var flagz = <%= raw (Dir.entries(Rails.root.join('public/images/flags/pack'))).sort!.as_json %>;
  flagz = flagz.slice(2);
  flagz.splice(0, 0, flagz.splice(flagz.indexOf("United_States_of_America.png"), 1)[0]);
  flagz.splice(1, 0, flagz.splice(flagz.indexOf("United_Kingdom.png"), 1)[0]);
  flagz.splice(2, 0, flagz.splice(flagz.indexOf("France.png"), 1)[0]);
  flagz.splice(3, 0, flagz.splice(flagz.indexOf("Germany.png"), 1)[0]);
  flagz.splice(4, 0, flagz.splice(flagz.indexOf("Spain.png"), 1)[0]);
  flagz.splice(5, 0, flagz.splice(flagz.indexOf("China.png"), 1)[0]);
  flagz.splice(6, 0, flagz.splice(flagz.indexOf("Russian_Federation.png"), 1)[0]);
  var downcased=flagz.join('|').toLowerCase().split('|');
</script>
<div class="container" id="top-box" style="border-bottom: 1px solid rgba(120, 120, 120, 0.4);">
    <div class="row">
        <div class="col-md-4" id="info">
            <div class="row">
                FILE NAME: <%= @upload.image.original_filename %> <%= image_tag @upload.image.url(:thumb) %>
            </div>
            <div class="row">
                UPLOADED AT: <%= @upload.created_at %>
            </div>
            <div class="row" style="border-bottom:solid 1px black;">
                FLAG CHOSEN: <span id="flag-text">None</span>
            </div>
        </div>
        <div class="col-md-8">
            <div id="controls">
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="searchFlag" placeholder="Search flag">
                    </div>
                    <div class="col-md-4">
                        <div id='flags-arrow'>
                            Step 1: Choose your flag  <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span><span class="glyphicon glyphicon-ok" aria-hidden="true" style="display:none;"></span>
                        </div>
                    </div>
                </div>
                <div id="flags" style="margin-top:20px;">
                    <div class="row">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container editor">
    <div class="row" style="margin-bottom:30px;">
        <div class="col-md-4">
            <h5 style="text-align:center;">Change settings:</h3>
            <div id="controls">
                <div class="row">
                    <div class="col-sm-8">
                        <input type="range" min="0" max="1" step=".01" value="0.5" id="mix" style="width:100%;margin:0px auto;">
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-default" id="fit">Fit to picture</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-8">
                    <div class="sda">
                        Ad Space
                    </div>
                </div>
                <div class="col-md-4 step2">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="overlay" style="margin:0px auto;">
                    <div id="img"><%= image_tag @upload.image.url(:resized) %></div>
                    <div id="flag"><%= image_tag '' %></div>
            </div>
        </div>
    </div>
</div>
<div class="container preview" style="visibility: hidden;">
    <div class="row">
        <div class="col-md-12">
            <h3 style="text-align:center;">Preview your picture:</h3>
            <h5 style="text-align:center;">When you are finished, right click this image and hit 'Save As' or <span id="dl"></span></button></h5>
            <div id="result">
                <canvas id="canvas2" style="margin:0px auto;"></canvas>
            </div>
        </div>
    </div>
</div>
