<!DOCTYPE html>
<html>
<head>
  <title>Flag Overlay</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<script type="text/javascript" charset="utf-8">
 
</script>
<div class="container-fluid navbar">
  <div class="row">
    <div class="container">
      <div class="col-md-12">
        <div class="nav">
          <h1 style="font-size:25px;"><%= link_to "Flag Overlay", root_path %><span style="font-size:12px;vertical-align:bottom;">beta</span></h1>
        </div>
      </div>
    </div>
  </div>
</div>

<%= yield %>

<div class="container">
  <div class="row">
    <footer id="footer" style="text-align:center;margin-top:20px;"></footer>
  </div>
</div>
</body>
</html>
