<!DOCTYPE html>
<html>
<head>
  <title>Flag Overlay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<script type="text/javascript" charset="utf-8">
 
</script>
<div class="container">
  <div class="row">
    <div class="col-md-12" style="text-align:center;">
      <div class="jumbotron">
        <h1><%= link_to "Flag Overlay", root_path %><span style="font-size:15px;vertical-align:bottom;">beta</span></h1>
      </div>
    </div>
  </div>
</div>

<%= yield %>

<div class="container">
  <div class="row">
    <footer id="footer" style="text-align:center;margin-top:20px;"></footer>
  </div>
</div>
</body>
</html>
